output/*

*.o
*.o.d

__pycache__

.config
.config.old
exclude.txt
log.txt
defconfig

.vscode
.cache
.clangd
compile_commands.json
compile_commands.events.json

.mpp_built
.mpp_samples
.parse_config
.rtt_samples

.repo

include/config
include/generated

rtsmart_defconfig
uboot_defconfig

# subproject
src/canmv/
src/opensbi/opensbi/
src/rtsmart/libs/
src/rtsmart/mpp/
src/rtsmart/rtsmart/
src/rtsmart/examples/
src/uboot/uboot/
src/uboot/loader/

AGENTS.md
skills/

.venv/
*.log