image bin.vfat {
	vfat {
		label = "BIN"
	}
	size = 10M
	temporary = true
	mountpoint = "bin"
}

image app.vfat {
	vfat {
		label = "SDCARD"
        extraargs = " -F 16 -s 64 "
	}
	size = 500M
	temporary = true
	mountpoint = "sdcard"
}

image sysimage-sdcard.img {
	hdimage {
		# Enable TOC (Table of Contents)
		toc = true
		toc-offset = 0xe0000

		# use mbr
		partition-table-type = "mbr"

		# use gpt
		# partition-table-type = "gpt"
		# disk-uuid = "bc8ba9e1-f3d0-443a-9d55-976a737bde84"
	}

	# OTA meta 分区：用于存放 A/B 槽位版本块
	# 注意：仅在 TOC 中占位，初始内容为空，后续由 OTA/boot 写入
	partition ota_meta {
		in-partition-table = false
		offset = 0xf0000
		size = 0x800
	}

	partition spl {
		in-partition-table = false
		offset = 0x100000
		image = "uboot/fn_u-boot-spl.bin"
	}

	# TODO: Update to use fat partition
	partition uboot_env {
		in-partition-table = false
		offset = 0x1e0000
		size = 0x10000
		image = "uboot/env.bin"
	}

	partition uboot {
		in-partition-table = false
		offset = 0x200000
		image = "uboot/fn_ug_u-boot.bin"
	}

	partition rtt_a {
		in-partition-table = false
		offset = 10M
		size = 20M
		image = "opensbi/opensbi_rtt_system.bin"
		load = true
		boot = 0x3
	}

	partition rtapp_a {
		in-partition-table = false
		offset = 30M
		size = 30M
		image = "rtapp/rtapp.elf.gz"
		load = true
	}

	partition rtt_b {
		in-partition-table = false
		offset = 60M
		size = 20M
		image = "opensbi/opensbi_rtt_system.bin"
		load = true
		boot = 0x3
	}

	partition rtapp_b {
		in-partition-table = false
		offset = 80M
		size = 30M
		image = "rtapp/rtapp.elf.gz"
		load = true
	}

	partition bin {
		# use mbr
		partition-type = 0xc

		# use gpt
		# partition-type-uuid = "F"
		# partition-uuid = "81356e88-d2e9-481a-a1c5-264e22149385"

		offset = 110M
		image = "bin.vfat"
	}

	partition app {
		# use mbr
		partition-type = 0xc

		# use gpt
		# partition-type-uuid = "F"
		# partition-uuid = "64684dc8-f550-4557-ab7e-c6399c348dc1"

		image = "app.vfat"
	}
}
