<?xml version="1.0" encoding="UTF-8"?>
<manifest>
  <remove-project name="kendryte/k230_rtos_sdk" />
  <project
    name="__SDK_PROJECT__"
    path="."
    remote="github"
    revision="__SDK_REVISION__"
    groups="sdk_super" />

  <project
    name="__XRSDCARD_PROJECT__"
    path="src/canmv/resources/xrsdcard"
    remote="github"
    revision="__XRSDCARD_REVISION__"
    groups="canmv-common" />
</manifest>
